<div id="acp-left" class="col-xs-2">
  <div class="row sidenav-header">
    <div class="col-xs-12">
      <b>QUICK ACCESS</b>
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      <%= link_to("Manage users", adm_users_path) %>
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      <%= link_to("Administrator Logs", adm_logs_path) %>
    </div>
  </div>
  <div class="row sidenav-header">
    <div class="col-xs-12">
      <b>SITE SETTINGS</b>
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      Disable Site
    </div>
  </div>
</div>