<%= form_tag(adm_users_search_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <%= label_tag(:search, "Search for user:") %>
    <%= text_field_tag :search, params[:search], class: "span2"%>
    <%= submit_tag("Search") %>
    <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
         of using a Rails form helper -->
    <!-- <button class="btn" type="submit"><i class="icon-search"></i></button> -->
<% end %>
