<div id="acp-left" class="col-xs-2">
  <div class="row sidenav-header">
    <div class="col-xs-12">
      <b>USERS</b>
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      <%= link_to("Manage users", adm_users_path) %>
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      User permissions
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      Delete Users
    </div>
  </div>
  <div class="row sidenav-header">
    <div class="col-xs-12">
      <b>USER SECURITY</b>
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      Ban users
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      Ban emails
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      Ban IPs
    </div>
  </div>
  <div class="row sidenav-item">
    <div class="col-xs-12">
      Disallowed usernames
    </div>
  </div>
</div>