<div class="row">
  <% @activities.each do |activitie| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag activitie.image, height: "200", width: "200" %>
        <div class="caption">
          <h1><%= activitie.title %></h1>
          <p><%= activitie.location %></p>
          <h3><%= activitie.description %></h3>
          <p><a href="#" class="btn btn-primary" role="button">Book Tickets!</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>
        </div>
      </div>
    </div>
  <% end %>
</div>