<div id="footer_top" class="row">
  <div id="topnav_navigation" class="col-xs-2">
    <%=link_to "About", root_path%>
  </div>
  <div id="topnav_navigation" class="col-xs-2">
    <%=link_to "Contact", contact_path%>
  </div>
  <div id="spacer" class="col-xs-8"></div>
</div>